language: node_js
node_js:
  - '10'
  - '8'
  - '6'
  - '4'
branches:
    # We need to whitelist the branches which we want to have "push" automation.
    # Pull request automation is not constrained to this set of branches.
    only:
        - master
matrix:
  fast_finish: true
  include:
    - os: linux
      env: CXX=g++-4.8 TEST_SUITE=test
    - os: linux
      env: CXX=g++-4.8 TEST_SUITE=coveralls
script: npm run $TEST_SUITE
